<!DOCTYPE html>
<html lang="en">
<head>
    {{template "head"}}
</head>
<body>
<br>
<div class="row">
    <div class="col-md-2">
    </div>
    <div style="margin-left: auto;margin-right: auto" class="col-md-8">
        <h1 style="text-align:center">mergen</h1>
        <br>
        <h2>Posts</h2>
        <table id="posts-table" style="table-layout: fixed;" class="table table-hover d-inline-block text-truncate">
            <thead>
            <tr>
                <th>Source</th>
                <th>Date</th>
                <th>Title</th>
            </tr>
            </thead>
            <tbody>
            {{range .}}
                <tr>
                    <td style="cursor: pointer;">
                        <a href="{{.Url}}">
                            <span style="float:left"> <i class="fas fa-external-link-alt fa-xs"></i> &nbsp</span>
                            {{.Source}}
                        </a>
                    </td>
                    <td class="timestamp_row">{{.Timestamp}}</td>
                    <td style="cursor: pointer;" data-toggle="modal" data-target="#modal_{{.Url}}" class="clickable">{{.Title}}</td>
                </tr>
                <div class="modal" id="modal_{{.Url}}">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">{{.Title}}</h2>
                            </div>
                            <div class="modal-body">
                                <p>Source: <a href="{{.Url}}">{{.Source}}</a> - <a class="timestamp_row">{{.Timestamp}}</a></p>
                                <br>
                                <p>{{.Text}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
            </tbody>
        </table>
    </div>
    <br>
    <div class="col-md-2"></div>
</div>
{{template "scripts"}}
</body>
{{template "footer"}}
</html>